@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* HARD RESET */
/* @layer base {
  html, body {
    background-color: white !important;
    color: black !important;
    min-height: 100vh;
  }
} */
*{
  font-family: Outfit;
}
@layer utilities {
  .force-light {
    background-color: white;
    color: black;
    min-height: 100vh;
  }
}

.active hr{
  @apply block;
}
::-webkit-scrollbar{
  @apply hidden;
}
