@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* HARD RESET */
/* @layer base {
  html, body {
    background-color: white !important;
    color: black !important;
    min-height: 100vh;
  }
} */
*{
  font-family: Outfit;
}
@layer utilities {
  .force-light {
    background-color: white;
    color: black;
    min-height: 100vh;
  }
}

.active hr{
  @apply block;
}
::-webkit-scrollbar{
  @apply hidden;
}
.hoverEffect{
  background-color: white;
  color:gray;
}
.hoverEffect:hover{
  background-color: black;
  color: white;
}
.pay_online_button{
  background-color: transparent;
  color: gray;
}
.pay_online_button:hover{
  background-color: #0250C4;
  color: white;
}
.cancel_appointment_button{
   background-color: transparent;
  color: gray;
}
.cancel_appointment_button:hover{
  background-color: red;
  color: white;
}
@media (max-width:740px) {
  .active p{
    background-color: #0250C4;
    color: white;
  }
}

.filter_button{
  background-color: #0250C4;
  color: white;
}
.filter_button_false{
  background-color: transparent;
  color: gray;
}


.Toastify__toast--error .Toastify__toast-icon svg {
  fill: #dc2626 !important;   /* red-600 */
}
.Toastify__toast--success .Toastify__toast-icon svg {
  fill: #007C00 !important;   /* green-600 */
}